spring-boot-soap/contract-first/src/main/resources/soap-api-definition/PetClinic-Schemes/petclinic-general.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.petclinic.springsource.com/namespace/petclinicservice/general"
	xmlns:datatypes="http://www.petclinic.springsource.com/namespace/petclinicservice/datatypes"
	xmlns:general="http://www.petclinic.springsource.com/namespace/petclinicservice/general"
	targetNamespace="http://www.petclinic.springsource.com/namespace/petclinicservice/general"
	elementFormDefault="qualified" version="1.0">

	<s:import
		namespace="http://www.petclinic.springsource.com/namespace/petclinicservice/datatypes"
		schemaLocation="petclinic-datatypes.xsd" />

	<s:element name="GetAllPets">
		<s:complexType>
			<s:sequence>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetAllPetsResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="GetAllPetsResult"
					type="general:PetsReturn" />
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:complexType name="PetsReturn">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
			<s:element minOccurs="0" maxOccurs="1" name="ResponseText"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="Pets"
				type="datatypes:ArrayOfPets" />
		</s:sequence>
	</s:complexType>

	<s:element name="GetAllOwners">
		<s:complexType>
			<s:sequence>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetAllOwnersResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="GetAllOwnersResult"
					type="general:OwnersReturn" />
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:complexType name="OwnersReturn">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
			<s:element minOccurs="0" maxOccurs="1" name="ResponseText"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="Owners"
				type="datatypes:ArrayOfOwners" />
		</s:sequence>
	</s:complexType>

</s:schema>